.list_chats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_chats .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.list_chats .title .btnSidebar {
  display: none;
}

.list_chats .title h2 {
  color: var(--white);
  font-weight: 500;
}

.list_chats .title button {
  background: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_chats .title .options {
  position: absolute;
  width: 120px;
  z-index: 999;
  background: var(--dark);
  right: 20px;
  box-shadow: var(--shadow);
  top: 50px;
}

.list_chats .items {
  width: 100%;
  height: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  overflow-y: auto;
}

.list_chats .items .item {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  gap: 10px;
  transition: all 0.3s;

}

.list_chats .items .item .content_text {
  width: 100%;
  height: 65px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_chats .items .item:first-child {
  margin-top: 20px;
}
.list_chats .items .item:last-child {
  margin-bottom: 20px;
}

.list_chats .items .item:hover {
  cursor: pointer;
  background: var(--button);
}

.list_chats .items .item.selected {
  background: var(--dark-2);
}

.list_chats .items .item .img {
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.list_chats .items .item .img span.online {
  width: 10px;
  height: 10px;
  background: var(--online);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.list_chats .items .item .img span.offline {
  width: 10px !important;
  height: 10px !important;
  background: var(--danger);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.list_chats .items .item .img img {
  max-width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.list_chats .items .item .content {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list_chats .items .item .content h4,
.list_chats .items .item .content p {
  margin: 0;
  font-weight: 500;
  color: var(--white);
  text-transform: capitalize;
}

.list_chats .items .item.closed .content h4,
.list_chats .items .item.closed .content p {
  color: var(--gray);
}

.list_chats .items .item .content p {
  font-size: 0.8em;
  font-weight: 400;
}

.list_chats .items .item .content .unread-count {
  position: absolute;
  bottom: 4px;
  color: var(--white);
  right: 15px;
  right: 8px;
  background: var(--primary);
  width: 18px;
  height: 18px;
  font-size: 0.5em;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list_chats .items .item {
  position: relative;
}

.list_chats .items .item button {
  background: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_chats .dropdown {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  justify-content: end;
  align-items: start;
}

.list_chats .dropdown .dropdown-content {
  background: #000;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 160px;
  gap: 12px;
  right: 30px;
  top: 30px;

  height: auto;
  background: var(--dark);
  box-shadow: var(--shadow);
  border-radius: 15px;
  z-index: 9;
  padding: 10px;
  font-size: 0.9em;
}

.list_chats .dropdown .dropdown-content button {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
