

.bubble {
  position: fixed;
  z-index: 999;
  bottom: 50px;
  right: 0;
}

.bubble .show {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #25d366;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  transform: translateX(40px);
  display: none;
}

.bubble .show.active {
  transform: translate(-20px, -60px);
}

.bubble .show.active svg {
  transform: rotate(180deg);
}

.bubble .bubble_button {
  /* opacity: 0; */
  /* transform: translateX(100px); */
  transition: all 0.3s ease-in-out;

  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #25d366;
}

.bubble_button::before {
  background: var(--green-2);
}

.bubble .bubble_button svg{
  font-size: 2em;
}

.bubble .bubble_button.active {
  opacity: 1;
  /* transform: translateX(0); */
}

/* chat cliente */

.client_chat.active {
  width: 300px;
  height: 420px;
  position: fixed;
  bottom: 100px;
  right: 40px;
  border-radius: 20px;
  padding: 10px;
  z-index: 9999;
}

/* ******************************************** */

/*--------------------
Chat
--------------------*/
.chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 420px;
  max-height: 420px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: var(--bg-chat);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
.chat-title {
  position: relative;
  z-index: 2;
  background: var(--green-2);
  color: #fff;
  text-transform: capitalize;
  text-align: left;
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.chat-title .img {
  background: var(--dark);
  border-radius: 50%;
}
.chat-title .img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-title .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-title .content button {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: none;
}

.chat-title h2 {
  font-weight: normal;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

/*--------------------
Messages
--------------------*/
.messages {
  flex: 1 1 auto;
  color: var(--dark);
  overflow: hidden;
  position: relative;
  overflow-y: auto;
  width: 100%;
}

.messages .messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
}

.messages .messages-content::-webkit-scrollbar,
.messages::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.messages .message {
  max-width: 200px;
  min-width: 90px;
  clear: both;
  word-break: break-all;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: var(--white);
  box-shadow: 0px 5px 15px 0px #0000004f;
  margin: 8px 0;
  font-size: 11px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  overflow: visible;
}

.messages .message p {
  margin: 4px 0;
}

.messages .message img {
  max-width: 100%;
}

.messages .message .timestamp {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 9px;
  color: var(--gray);
}

.messages .message .avatar {
  position: absolute;
  bottom: 0;
  left: -30px;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: var(--dark);
}

.messages .message .avatar img {
  width: 100%;
  height: auto;
}

.messages .message.message-personal {
  float: right;
  color: var(--dark);
  text-align: left;
  background: var(--green-chat);
  border-radius: 10px 10px 0 10px;
  margin-right: 10px;
}

.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #257287;
  bottom: -4px;
}

.messages .message:last-child {
  margin-bottom: 30px;
}

.messages .message.new {
  transform: scale(0);
  transform-origin: 0 0;
  animation: bounce 500ms linear both;
}

.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  animation-delay: 0.15s;
}

.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}

.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
}

.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  animation-delay: 0.3s;
}

/*--------------------
Message Box
--------------------*/
.message-box {
  flex: 0 1 40px;
  width: 100%;
  background: var(--white);
  position: relative;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 5px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 0px #0000004f;

  display: flex;
  align-items: center;
}

.message-box .input {
  width: 100%;
  height: 100%;
}

.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: var(--dark);
  font-size: 11px;
  height: calc(100% - 20px);
  width: calc(90% - 20px);
  margin: 0;
  padding: 0;
  border-radius: 10px;
  padding: 8px 10px 0 10px;
  line-height: 15px;
}

.message-box .message-input::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.message-box textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.message-box .buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.message-box .buttons button {
  width: 30px;
  height: 30px;
  padding: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box .buttons button::before {
  background: none;
}

.message-box .buttons button svg {
  color: var(--gray);
  width: 20px;
}

.message-box .buttons button label {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box .message-submit {
  z-index: 1;
  /* top: 9px; */
  /* right: 10px; */
  color: #fff;
  border: none;
  background: #248a52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  /* padding: 6px 10px; */
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease;
}

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/*--------------------
Bounce
--------------------*/
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes ball {
  0% {
    transform: translateY(0) scaleY(0.8);
  }
  100% {
    transform: translateY(-10px);
  }
}

.chat .options .option {
  width: 100%;
  padding: 10px 0;
  color: var(--dark);
  font-weight: 500;
  letter-spacing: 1px;
}

.chat .form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat .form form {
  width: 98%;
  height: 99%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--dark);
  border: 2px solid var(--button);
  margin-left: -1px;
}

.chat .form form .head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.chat .form form .head h4 {
  margin: 0;
  color: var(--white);
  font-weight: 500;
  font-size: 1.4em;
}

.chat .form form .head img {
  max-width: 100px;
}
