.settings_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.settings_container .inner_container {
  width: calc(100% - 90px);
  height: 100%;
}

.ajustes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.ajustes .title {
  width: 100%;
  display: flex;
  align-items: center;
}

.ajustes .title h2 {
  font-weight: 500;
  color: var(--white);
}

.ajustes .buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.ajustes .buttons .link {
  color: var(--gray);
  font-weight: 400;
}

.ajustes .buttons .link a {
  color: var(--white);
}

.ajustes .buttons .link.active a {
  font-weight: 600;
  color: var(--button);
}

.modal .input p {
  color: var(--white);
  font-size: 0.9em;
}

.ajustes .filters {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.ajustes .filters .input {
  width: 100%;
  max-width: 320px;
  display: flex;
  align-items: start;
}

.ajustes .filters .input input {
  width: calc(100% - 10px);
}

.ajustes .counter {
  width: 99%;
}

.ajustes .counter h4 {
  font-weight: 500;
  color: var(--white);
}

td.active {
  color: var(--online);
}

td.inactive {
  color: var(--danger);
}

.ajustes td {
  position: relative;
  overflow: visible !important;
}

.ajustes .dropdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ajustes .dropdown .dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 12px;
  right: 90px;
  top: 30px;

  height: auto;
  background: var(--dark);
  box-shadow: var(--shadow);
  border-radius: 15px;
  z-index: 9;
  padding: 10px;
}

.ajustes .dropdown .dropdown-content button {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
.swal2-html-container {
  overflow: hidden !important;
}

.ajustes .content {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.ajustes .content .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background: var(--dark-3);
  position: relative;
}

.ajustes .content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.ajustes .content .img button {
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-radius: 30%;

  width: 50px;
  height: 50px;
}

.ajustes .content .img button label {
  margin: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.ajustes .content .text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 12px;
}

.ajustes .content .text p {
  margin: 0;
  font-size: 1.2em;
  color: var(--white);
}

.ajustes .content .buttons {
  width: 100%;
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ajustes .content .buttons button:last-child {
  background: transparent;
  border: 2px solid var(--button);
}

.ajustes .content .buttons button:first-child {
  border: 2px solid var(--button);
}

@media (max-width: 920px) {
  .settings_container .inner_container {
    width: calc(100% - 10px);
  }
}

.ajustes .btnSidebar {
  display: none;
}

@media (max-width: 720px) {
  .ajustes .btnSidebar {
    display: block;
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
  }
  .ajustes .title {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}


.ajustes .content-modal{
  overflow-y: auto;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: auto;
}

.ql-formats button{
  width: 28px !important;
}

.ql-editor > * {
 color: var(--white) !important;
}